body{
    background-color: #b689b6;
}

.container{
    width: 60%;
    text-align: center;
    margin: 3rem auto;
    font-family: 'Alkatra', cursive;
    font-size: 3rem;
}

h1{
    color: #6c0000;
}

button{
    border: 10px solid white;
    border-radius: 10%;
}